# D3 quiz

In [32]:
movie_rank = ["Doctor Strange", "Split", "Lucky"]
movie_rank

['Doctor Strange', 'Split', 'Lucky']

In [33]:
movie_rank += ["Batman"]
movie_rank

['Doctor Strange', 'Split', 'Lucky', 'Batman']

In [34]:
movie_rank.insert(1, "SuperGirl")
movie_rank

['Doctor Strange', 'SuperGirl', 'Split', 'Lucky', 'Batman']

In [35]:
#movie_rank.remove("Lucky")
del movie_rank[3]
movie_rank

['Doctor Strange', 'SuperGirl', 'Split', 'Batman']

In [37]:
#movie_rank.remove("Split", "Batman") ??왜안됨??
del movie_rank[2:4]
del movie_rank[2:]
movie_rank

['Doctor Strange', 'SuperGirl']

In [49]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
price[1:]

[100, 130, 140, 150, 160, 170]

In [57]:
#7.슬라이싱을 사용해서 홀수만 출력하라.
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# nums[0:nums.len():2]
# nums.len()
len(nums)
nums[0:len(nums):2]

[1, 3, 5, 7, 9]

In [58]:
#8.슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.

nums = [1, 2, 3, 4, 5]
#실행 예:
#[5, 4, 3, 2, 1]
nums[::-1]

[5, 4, 3, 2, 1]

In [71]:
#9.interest 리스트에는 아래의 데이터가 저장되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver']
#interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

#출력 예시:
#삼성전자 Naver

print(interest[0], interest[2])

삼성전자 Naver

In [76]:
#10. interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
#interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

#출력 예시:
#삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [77]:
#11. interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
#join() 메서드를 사용해서 interest 리스트를 아래와 같이 화면에 출력하라.

#출력 예시:
#삼성전자
#LG전자
#Naver
#SK하이닉스
#미래에셋대우
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [80]:
#12. 리스트에 있는 값을 오름차순으로 정렬하세요.
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
data

[1, 2, 3, 4, 5, 9, 10]

In [103]:
#13. 
#홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.
#※ 문자열 슬라이싱 기법을 사용해 보자.
pin="881120-1068234"
print("생년월일:" + pin[0:6] + " 뒷자리:" + pin[7:14])
print("생년월일:" + pin[:6] + " 뒷자리:" + pin[7:])
print(pin)

생년월일:881120 뒷자리:1068234
생년월일:881120 뒷자리:1068234
881120-1068234

In [92]:
#14. (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.
tup=(1, 2, 3)
tup=list(tup)
tup.insert(3, 4)
tup=tuple(tup)
print(tup)

(1, 2, 3, 4)

In [120]:
#15.딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.
a = {'A':90, 'B':80, 'C':70}
#※ 딕셔너리의 pop 함수를 사용해 보자.
#a.pop('B')
a.get('B')
#print(a.get('B'))
print(a['B'])

80